<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harvey.arcface">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>
